* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* colors */
    --dark-purple: #24053E;
    --Eucalyptus:  #44FFA1;
    --Davys-Grey: #584D62;
    --Ghost-White: #FCF8FF;
    --White: #fff;
     /* fonts */
    --heading-m: "Fraunces 144pt";
    --body: Manrope;

    /* Font Sizes */
    --heading-m-size: 56px;
    --body-size: 18px;
    --heading-l-size: 80px;
    --font-size-5xl: 24px;
    --font-size-13xl: 32px;
    /* Hover States */
}

/* header styles section */

header{
    background-color: var(--dark-purple);
    border-end-start-radius: 2250px 100px;
    direction: ltr;
    border-end-end-radius: 2250px 100px;
}

nav{
    display: flex;
    justify-content: space-around;
}

.header-logo__light {
    width: 5.98513rem;
    height: 1.538rem;
    margin: 2rem 0;
}

/* button styles */
.btn-top__access {
    color: var(--White);
    cursor: pointer;
    text-decoration: underline 3px solid var(--Eucalyptus);
    padding-bottom: 0.5rem;
    margin: 2rem 0;
    text-underline-offset: 30%;
    font-family: Manrope;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 177.778% */
    letter-spacing: -0.01125rem;
    /* text-decoration: none; */
}

.btn-top__access:hover{
    color: var(--Eucalyptus);
}

.btn-learn__anchor {
    background-color: var(--Eucalyptus);
    color: var(--dark-purple);
    text-align: center;
    font-family: var(--body);
    font-style: normal;
    font-weight: 700;
    width: 161px;
    height: 61px;
    padding: 13px;
    text-decoration: none;
    position: relative;
    left: 15rem;
    top: -22rem;
}

.btn-learn__anchor:hover{
    background-color: var(--dark-purple);
    color: var(--Eucalyptus);
    border: 2px solid var(--Eucaplyptus, #44FFA1);
}

.btn__access{
    background-color: var(--Eucalyptus);
    color: var(--dark-purple);
    text-align: center;
    font-family: var(--body-size);
    font-style: normal;
    font-weight: 700;
    width: 161px;
    height: 61px;
    padding: 20px;
    text-decoration: none;
    position: relative;
    top: 2rem;
    right: 13.9rem;
    letter-spacing: -0.18px;
}

.btn__access:hover{
    background-color: var(--dark-purple);
    color: var(--Eucalyptus);
    border: 2px solid var(--Eucaplyptus, #44FFA1); 
}

/* button styles */


/* .header-container {
    max-width: 1440px;
    margin: 0 auto;
} */

.header-container h1 {
    color: var(--White);
    text-align: center;
    font-family: Fraunces 144pt;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5rem;
    /* 100% */
    width: 39.6875rem;
}

span{
    text-decoration: underline 3px solid var(--Eucalyptus);
    text-underline-offset: 10%;
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* oval images */
.oval__left{
    height: 215.102px;
    width: 270.294px;
    position: relative;
    left: -7rem;
    top: -5rem;
    transform: rotate(-171deg);
}

.oval__right{
    width: 141.703px;
    height: 112.712px;
    transform: rotate(6deg);
    position: relative;
    top: 4rem;
    left: 3.5rem;
}
/* oval images */

.header-image__hero {
    width: 702px;
    height: 405px;
    position: relative;
    top: 10rem;
    right: 0rem;
}

/* header styles end */

.ceo__founder {
    width: 450.287px;
    height: 453px;
    position: relative;
    top: -5rem;
    left: 5rem;
    /* z-index: -4; */
}

/* container & row style section */
.container{
    background-color: var(--Ghost-White);
    display: flex;
    align-items: center;
    border-end-start-radius: 2250px 100px;
    direction: ltr;
    border-end-end-radius: 2250px 100px;
    height: 600px;
}

.row{
    display: flex;
    justify-content: center;
    width: 1114px;
    height: 308px;
    padding: 5rem 0 0 4rem;
    background-color: var(--Ghost-White);
}

.row h3 {
    text-align: center;
    font-family: Fraunces 144pt;
    font-size: var(--font-size-13xl);
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.row p {
    color: var(--Dark-Purple, #24053E);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body */
    font-family: Manrope;
    font-size: var(--body-size);
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 354px;
    /* 177.778% */
    position: relative;
    top: 1rem;
}
/* container & row style section */


.round {
    border: 1px solid var(--Davys-Grey);
    border-radius: 30px;
    padding: 20px 22px;
    height: 56px;
    width: 56px;
    position: relative;
    left: 10rem;
    bottom: 2rem;
    text-align: center;
}


.founder__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem 0 ;
}

.founder__row{
    display: flex;
    justify-content: center;
}

.founder-box__text {
    width: 730px;
    height: 413px;
    background-color: var(--dark-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: relative;
    top: 5rem;
}

.founder-box__text h3 {
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Heading M */
    font-family: Fraunces 144pt;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    position: relative;
    top: -2rem;
    right: 5.5rem;
}

.founder-box__text p {
    color: var(--White);
    font-feature-settings: 'clig' off, 'liga' off;
    /* Body */
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
    width: 602px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.footer__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 116px;
    height: 102.224px;
}

.icon__list a{
    margin: 20px 14px;
    position: relative;
    right: 1rem;
}

.icon__list > li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0rem;
}
/* Tablet styles */
@media(max-width: 1023px) and (min-width: 768px){
    header {
        width: 768px;
    }
    .header-container h1{
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
        width: 573px;
    }

    .oval__left{
        position: relative;
        left: -2rem;
        top: -5rem;
    }

    .header-image__hero{
        width: 479.153px;
        height: 286.603px;
    }

    .btn-top__access{
        font-size: 16px;
        width: 133px;
        height: 55px;
    }

    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .row h3{
        font-family: Fraunces 144pt;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
    }

    .row p {
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 493px;
    }

    .round{
        width: 48px;
        height: 46px;
        position: relative;

    }

    .ceo__founder{
        width: 265px;
        height: 267px;
    }

    .founder-box__text{
        width: 514px;
        height: 375px;
    }

    .founder-box__text h3{
        font-family: Fraunces 144pt;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        position: relative;
        left: -1.5rem;
    }

    .founder-box__text p {
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 402px;
    }

    .btn__access{
        position: relative;
        top: 2rem;
        right: 7.5rem;
        font-size: 16px;
    }
}
/* Tablet styles */

/* Mobile styles */
@media(max-width: 768px) and (min-width: 375px){
    header{
        width: 375.303px;
        height: 481.707px;
    }
    .header-row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-container h1 {
            text-align: center;
            font-family: Fraunces 144pt;
            font-size: 50px;
            font-style: normal;
            font-weight: 600;
            line-height: 50px;
            width: 343px;
            position: relative;
            top: -12rem;
            left: 1rem;
        }

        .header-image__hero {
            width: 298.305px;
            height: 178.159px;
            top: -2rem;
            right: -2rem;
        }

        .oval__left, .oval__right{
            visibility: hidden;
        }

        .row{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            left: -2.5rem;
            top: 8rem;
        }

        .row h3{
            position: relative;
            top: 5rem;
        }
        
    .row p{
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 343px;
        position: relative;
        top: 5rem;
    }

    .round{
        position: relative;
        left: 9rem;
        bottom: 0rem;
        top: 5rem;
    }
/* ceo section */
    .founder__row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .founder__row h3{
        text-align: center;
        font-family: Fraunces 144pt;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        position: relative;
        left: 0rem;
        width: 280px;
    }

    .founder__row p{
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        width: 281px;
    }

    .founder-box__text{
        width: 343px;
        height: 375px;
    }

    .ceo__founder{
        width: 265px;
        height: 267px;
        position: relative;
        top: 9rem;
        left: 2rem 
    }

    .btn__access,
    .btn-learn__anchor,
    .btn-top__access {
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.16px;
    }
    
    .btn__access {
        font-size: 16px;
        position: relative;
        top: 1rem;
        right: -0.1rem;
        width: 172px;
        height: 55px;
    }

    .btn-learn__anchor{
        position: relative;
        left: -11rem;
        top: -20rem 
    }
/* ceo section */
}
/* Mobile styles */
